{% load static %}
<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>Dogspotter</title>
        <link
            rel="icon"
            href="{static 'images/icons/favicon.svg}"
            type="image/svg"
        />
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <p>{{request.user}}</p>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </body>
    <footer></footer>
</html>
