{% load static %}
<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dogspotter</title>
    <link rel="icon" href="{% static 'images/icons/favicon.svg' %}" type="image/svg">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
        <div class="header-bar">
            <div>
                <h1>Good Spotting</h1>
            </div>
            <div>

                {% if request.user.is_authenticated %}
                <h2>{{request.user|title}}</h2>
                <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a href="{% url 'login' %}">Login</a>
            </div>
            {% endif %} {% block content %} {% endblock content %}
        </div>
</body>
<footer></footer>

</html>
